<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CMS</title>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap">
    <%# <link rel="stylesheet" href="/stylesheets/reset.css"> %>
    <link rel="stylesheet" href="/stylesheets/cms.css">
    <%# <link rel="icon" href="/favicon.ico"> %>
  </head>
  <body>
    <header>
      <div class="notification">
        <% if session[:error] %>
          <p><%= session.delete(:error) %></p>
        <% end %>

        <% if session[:success] %>
          <p><%= session.delete(:success) %></p>
        <% end %>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>