<form action="/sign_in" method="POST">
  <ul class="form">
    <li>
      <lable>Username:</lable>
      <input type="text" name="username" value="<%= params[:username] %>">
    </li>
    <li>
      <lable>Password:</lable>
      <input type="password" name="password">
    </li>
    <li>
      <button type="submit">Sign In</button>
    </li>
  </ul>
</form>